# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Virtual Environment (CRITICAL: Do not upload this!)
venv/
env/
.env

# OS specific
.DS_Store
Thumbs.db





##### 👤 Author
####  Designed & Developed by Tanishk Built with ❤️ using Django 
